*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}

:root{
  --fontColor-erro:hsl(0, 100%, 66%);
  --global-branco:hsl(0, 0%, 100%);
  --Violeta-acinzentado-claro: hsl(270, 3%, 87%);
  --Violeta-acinzentado-escuro: hsl(279, 6%, 55%);
  --Violeta-muito-escuro: hsl(278, 68%, 11%);

  /*- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)*/
}

header{
  background-color: var(--Violeta-muito-escuro);
  height: 210px;
  
}

.backCard img{
  position: absolute; 
  width: 250px;
  top: 30px;
  left: 100px;
   
}

.backCard p{
  position: relative;
  width: 40px;
  font-size: 15px;
  top: 88px;
  left: 290px;
  color: var(--global-branco);
}

.frontCard .card-front{
  position: absolute; 
  width: 250px;
  top: 110px;
  left: 30px;
  

}

.logo{
  position: relative;
  width: 54px;
  top: 105px;
  left: 50px;
}

.number{
  display: flex;
  font-size: 17px;
  letter-spacing: 1px;
  position: relative;
  width: 210px;
  top: 135px;
  left: 50px;
  color: var(--global-branco);
}

.name{
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  position: relative;
  width:210px ;
  top: 140px;
  left: 50px;
  color: var(--global-branco);
}
.name span{
  font-size: 13px;
}


#Information{
  margin-top: 80px;
  padding-left: 30px;
}

#cardName,#cardNumber{
  width: 320px;
  margin: 5px 0 15px 0;
  padding: 10px;
  border-radius: 10px;
  border: .1px solid gray;
}

#Information p{
  color: var(--Violeta-muito-escuro);
  font-size: 15px;
}

.comlementares{
  display: flex;
}

#cardMonth,#cardYear{
  width: 65px ;
  padding: 10px;
  margin: 5px 5px 15px 0px;
  border-radius: 10px;
  border: .1px solid gray;
}

#cardSecurity{
  width: 170px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  border: .1px solid gray;
}

#confirmBtn{
  width: 320px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--Violeta-muito-escuro);
  color: var(--global-branco);
}




.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
  width: 320px;
  margin-left: 30px;
}
.attribution a {
  font-size: 13px;
  color: hsl(228, 45%, 44%); }